.u-section-1 .u-sheet-1 {min-height: 500px; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-image-1 {width: 397px; height: 400px; margin: 50px auto} 

@media (max-width: 1199px){ .u-section-1 .u-image-1 {width: 327px; height: 330px} }

@media (max-width: 991px){ .u-section-1 .u-image-1 {width: 251px; height: 253px} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {width: 235px; height: 237px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {width: 197px; height: 199px} }