.u-section-1 .u-sheet-1 {min-height: 500px; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-image-1 {width: 397px; height: 400px; margin: 50px auto} 

@media (max-width: 1199px){ .u-section-1 .u-image-1 {width: 327px; height: 330px} }

@media (max-width: 991px){ .u-section-1 .u-image-1 {width: 251px; height: 253px} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {width: 235px; height: 237px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {width: 197px; height: 199px} }.u-section-2 .u-sheet-1 {min-height: 250px}
.u-section-2 .u-group-1 {min-height: 224px; width: 800px; margin: 25px auto}
.u-section-2 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
.u-section-2 .u-text-1 {margin: 20px 0 0}
.u-section-2 .u-text-2 {margin: 20px 0 0}
.u-section-2 .u-btn-1 {margin: 30px auto 20px} 

@media (max-width: 1199px){ .u-section-2 .u-group-1 {width: 660px}
.u-section-2 .u-container-layout-1 {padding-left: 49px; padding-right: 49px} }

@media (max-width: 991px){ .u-section-2 .u-group-1 {width: 505px}
.u-section-2 .u-container-layout-1 {padding-left: 38px; padding-right: 38px} }

@media (max-width: 767px){ .u-section-2 .u-group-1 {width: 474px}
.u-section-2 .u-container-layout-1 {padding-left: 28px; padding-right: 28px} }

@media (max-width: 575px){ .u-section-2 .u-group-1 {width: 340px}
.u-section-2 .u-container-layout-1 {padding-left: 18px; padding-right: 18px} }